client/src/main/java/proxy/.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is JAX-WS RI 3.0.2 git-revision#91dd558. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is JAX-WS RI 3.0.2 git-revision#91dd558. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://bank_webservice.bank.ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://bank_webservice.bank.ws/" name="BankWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://bank_webservice.bank.ws/" schemaLocation="http://localhost:8080/?xsd=1"/>
</xsd:schema>
</types>
<message name="getAccounts">
<part name="parameters" element="tns:getAccounts"/>
</message>
<message name="getAccountsResponse">
<part name="parameters" element="tns:getAccountsResponse"/>
</message>
<message name="Convertir">
<part name="parameters" element="tns:Convertir"/>
</message>
<message name="ConvertirResponse">
<part name="parameters" element="tns:ConvertirResponse"/>
</message>
<message name="getAccount">
<part name="parameters" element="tns:getAccount"/>
</message>
<message name="getAccountResponse">
<part name="parameters" element="tns:getAccountResponse"/>
</message>
<portType name="Bank_WebService">
<operation name="getAccounts">
<input wsam:Action="http://bank_webservice.bank.ws/Bank_WebService/getAccountsRequest" message="tns:getAccounts"/>
<output wsam:Action="http://bank_webservice.bank.ws/Bank_WebService/getAccountsResponse" message="tns:getAccountsResponse"/>
</operation>
<operation name="Convertir">
<input wsam:Action="http://bank_webservice.bank.ws/Bank_WebService/ConvertirRequest" message="tns:Convertir"/>
<output wsam:Action="http://bank_webservice.bank.ws/Bank_WebService/ConvertirResponse" message="tns:ConvertirResponse"/>
</operation>
<operation name="getAccount">
<input wsam:Action="http://bank_webservice.bank.ws/Bank_WebService/getAccountRequest" message="tns:getAccount"/>
<output wsam:Action="http://bank_webservice.bank.ws/Bank_WebService/getAccountResponse" message="tns:getAccountResponse"/>
</operation>
</portType>
<binding name="Bank_WebServicePortBinding" type="tns:Bank_WebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getAccounts">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Convertir">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAccount">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="BankWebService">
<port name="Bank_WebServicePort" binding="tns:Bank_WebServicePortBinding">
<soap:address location="http://localhost:8080/"/>
</port>
</service>
</definitions>